{:aliases
 {:socket {:jvm-opts ["-Dclojure.server.repl={:port,50505,:accept,cljs.server.node/repl}"]}
  :test {:extra-paths ["src/test/cljs"]}
  ;; I have tried using cljs-test-runner for running clojure.test
  ;; tests in a modified version of core.rrb-vector, but my guess is
  ;; that since an older version of core.rrb-vector (version 0.0.11)
  ;; is in the transitive dependencies of the cljs-test-runner project
  ;; itself, that version conflicts with the version I am attempting
  ;; to test.  See
  ;; https://github.com/Olical/cljs-test-runner/issues/34
  :cljs-runner {:extra-deps {olical/cljs-test-runner {:mvn/version "3.7.0"}}
                :main-opts ["-m" "cljs-test-runner.main"
                            "-d" "src/test/cljs"]}
  :cljs-test {:main-opts ["-m" "cljs.main"
                          "-re" "node"
                          "-e" "(require,'[clojure.test,:as,t],'clojure.core.rrb-vector-test),(t/run-tests,'clojure.core.rrb-vector-test)"]}
  }
 :deps {;;org.clojure/clojure {:mvn/version "1.10.1"}
        ;;org.clojure/clojurescript {:local/root "/Users/jafinger/clj/clojurescript"}
        org.clojure/clojurescript {:mvn/version "1.10.520"}}
 :paths ["src/main/cljs" "src/main/cljc"]}
